.home {

}
.logo {
    position: absolute;
    width: 130px;
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 7px;
    background: black;
}

.insta-logo {
    width: 20px;
}

.youtube-logo {
    width: 27px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}
.navbar:hover {
    background: white;
}

.navbar ul {
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 30px;
}

.header-bar {
    background: white;
}

.navbar ul li {
    margin-top: 0px;
    display: inline-block;
    padding: 30px;
}

.navbar ul li a {
    color: rgb(255, 196, 0);
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar ul li a:hover {
    color: #ff508d;
}

.bars-wrapper img {
    width: 50px;
    display: none;
}

.bars-wrapper {
    position: absolute;
    left: 30px;
    top: 64px;
}

@media screen and (max-width: 800px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
    .navbar ul {
        display: none;
    }
    .logo {
        position:initial;
        width: 120px;
    }
    .bars-wrapper img {
        display: unset;
    }
}