.welcome {
    display: flex;
    background-image: url(../../public/assets/home3.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 900px;
}

.welcome-text {
    font-family: 'Anonymous Pro', monospace;
    color: #00f9e8;
    font-size: 100px;
    padding-bottom: 0px;
    margin: auto 0px;
    transition: 1s;
    cursor: default;
    text-decoration: none;
}

.welcome-text:hover {
    color: #ff508d;
}

.name-wrapper {

    display: flex;
    justify-content: center;
    gap: 8%;
    background-color: white;
    padding: 40px 40px;
}

.name {
    margin-top: 20px;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.the-name {
    font-weight: bold;
    font-size: 40px;

}

.name-description {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    line-height: 40px;
}

.name-image {
    margin-top: 50px;
    border-radius: 20px;
    width: 30vw;
    height: 70vh;
    background-image: url(../../public/assets/home1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-button {
    font-size: 20px;
    padding: 20px;
    background-color: orange;
    color: rgb(244, 244, 244);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.blog-button:hover {
    background-color: rgb(255, 85, 0);
    cursor: pointer;
}

.culture-wrapper {
    background-color: #faecc5;
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 40px 40px;
}

.culture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
    gap: 15px;
    margin-top: 20px;
}

.cultures-title {
    font-weight: bold;
    font-size: 40px;
}

.cultures-info {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    line-height: 40px;
}

.culture-image {
    border-radius: 20px;
    margin-top: 50px;
    width: 30vw;
    height: 70vh;
    background-image: url(../../public/assets/home2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
    .the-name {
        font-size: 35px;
    }

    .name-description {
        font-size: 20px;
        line-height: 30px;
    }

    .name-image {
        height: 75vh;
    }
    .cultures-title {
        font-size: 35px;
    }
    
    .cultures-info {
        font-size: 20px;
        line-height: 30px;
    }
    
    .culture-image {
        height: 75vh;
    }

}

@media screen and (max-width: 1000px) {

    .the-name {
        font-size: 30px;
    }

    .name-description {
        font-size: 18px;
        line-height: 25px;
    }

    .name-image {
        height: 70vh;
    }
    .cultures-title {
        font-size: 30px;
    }
    
    .cultures-info {
        font-size: 18px;
        line-height: 25px;
    }
    
    .culture-image {
        height: 70vh;
    }

}

@media screen and (max-width: 800px) {
    .welcome-text{
        font-size: 15vw;
    }
    .name-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .name {
        width: 100%;
        gap: 20px;
    }

    .the-name {
        font-size: 30px;
    }

    .name-description {
        font-size: 22px;
        line-height: 30px;
    }

    .name-image {
        max-width: 83vw;
        height: 20%;
    }
    .culture-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .culture {
        width: 100%;
        gap: 20px;
    }
    .cultures-title {
        font-size: 30px;
    }
    
    .cultures-info {
        font-size: 22px;
        line-height: 30px;
    }
    
    .culture-image {
        max-width: 83vw;
        height: 20%;
    }
}